.header {
    text-align: center;
    line-height: 1.5; /* Ajusta según sea necesario para centrar verticalmente */
  text-shadow: 2px 2px 4px #000; /* Agrega un efecto de sombra para el estilo 3D */
  font-family: 'Press Start 2P', cursive; /* Utiliza una fuente estilo Gamer */
  font-size: 20px;
}